h1 {
  text-align: center;
  /* font-weight: 400; */
  text-decoration: underline rebeccapurple;
  letter-spacing: -10px;  /*jadi rapat judulnya wkwk :D*/
}

p {
    text-align: justify;
    /* font-weight: 600; */
    line-height: 1.5;
}
